@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ManagerCloud.MVC.Models.Entities.Item
<h2>Remove item</h2>
<dl>
    <dt>Name</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Remove" />
}