<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="DirectoryPath" value="C:\Users\thedr\Desktop\ManagerCloud" />
    <add key="FileNameFilter" value="*" />
    <add key="FileSystemWatcherBufferSize" value="65536" />
  </appSettings>
</configuration>